# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Zam Jump Renewal.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\repos\Unity\Zam Jump Renewal\.idea\.idea.Zam Jump Renewal\.idea/dataSources/
/dataSources.local.xml
